[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch"

[packages]
ultralytics = "*"
deep-sort-realtime = "*"
gitpython = "*"
torch = {version = ">=2.0.1", index = "pytorch"}
torchvision = {version = ">=0.15.2", index = "pytorch"}
webcolors = "*"
colour-converter = "*"
scikit-learn = "*"
ffmpeg-python = "*"
keras ="*"
tensorflow = "*"
opencv-python = "*"

[dev-packages]
matplotlib = "*"

[requires]
python_version = "3.12"
